<template>
  <div class="import" v-show="$loggedUserInfo.user.user_role_id == 1">
    <h3 style="text-align:center;margin-top:20px;">Import Files</h3><hr>
    <div class="m15">
      Asset Class <input type="file" name="asset_class" @change="onFileChange">
    </div><hr>
    <div class="m15">
      Financials <input type="file" name="financials" @change="onFileChange">
    </div><hr>
    <div class="m15">
      Financial Status <input type="file" name="financial_status" @change="onFileChange">
    </div><hr>
    <div class="m15">
      Know Your Client <input type="file" name="know_your_client" @change="onFileChange">
    </div><hr>
    <div class="m15">
      Organization <input type="file" name="organization" @change="onFileChange">
    </div><hr>
    <div class="m15">
      Organization Type <input type="file" name="organization_type" @change="onFileChange">
    </div><hr>
    <div class="m15">
      Project <input type="file" name="project" @change="onFileChange">
    </div><hr>
    <div class="m15">
      Project Performance <input type="file" name="project_performance" @change="onFileChange">
    </div><hr>
    <div class="m15">
      Project Status <input type="file" name="project_status" @change="onFileChange">
    </div><hr>
    <div class="m15">
      User <input type="file" name="users" @change="onFileChange">
    </div><hr>
    <div class="m15">
      User Role <input type="file" name="user_roles" @change="onFileChange">
    </div>
    <button 
          type="button" 
          class="btn btn-primary float-right" 
          @click.prevent="proceedAction"
    >Upload
    </button>
  </div>
</template>

<script>
import Axios from "axios";
import Vue from "vue";

Vue.use(Axios);
window.axios = Axios;

export default {
  name: "import",
   data() {
    return {
      csv: {
        asset_class: "",
        financials: "",
        financial_status: "",
        know_your_client: "",
        organization: "",
        organization_type: "",
        project: "",
        project_performance: "",
        project_status: "",
        users: "",
        user_roles: ""
      }
    };
  },
  methods: {
    onFileChange(e) {
      if(e.target["name"] == "asset_class")
        this.csv["asset_class"] = e.target.files[0];
      else if(e.target["name"] == "financials")
        this.csv["financials"] = e.target.files[0];
      else if(e.target["name"] == "financial_status")
        this.csv["financial_status"] = e.target.files[0];
      else if(e.target["name"] == "know_your_client")
        this.csv["know_your_client"] = e.target.files[0];
      else if(e.target["name"] == "organization")
        this.csv["organization"] = e.target.files[0];
      else if(e.target["name"] == "organization_type")
        this.csv["organization_type"] = e.target.files[0];
      else if(e.target["name"] == "project")
        this.csv["project"] = e.target.files[0];
      else if(e.target["name"] == "project_performance")
        this.csv["project_performance"] = e.target.files[0];
      else if(e.target["name"] == "project_status")
        this.csv["project_status"] = e.target.files[0];
      else if(e.target["name"] == "users")
        this.csv["users"] = e.target.files[0];
      else if(e.target["name"] == "user_roles")
        this.csv["user_roles"] = e.target.files[0];
    },
    proceedAction() {
      let formData = new FormData();
      if (this.csv["asset_class"] !== "")
      {
        formData.append("asset_class", this.csv["asset_class"]);
        this.callAjax(formData)
      }
      else if(this.csv["financials"] !== "")
      {
        formData.append("financials", this.csv["financials"]);
        this.callAjax(formData)
      }
      else if(this.csv["financial_status"] !== "")
      {
        formData.append("financial_status", this.csv["financial_status"]);
        this.callAjax(formData)
      }
      else if(this.csv["know_your_client"] !== "")
      {
        formData.append("know_your_client", this.csv["know_your_client"]);
        this.callAjax(formData)
      }
      else if(this.csv["organization"] !== "")
      {
        formData.append("organization", this.csv["organization"]);
        this.callAjax(formData)
      }
      else if(this.csv["organization_type"] !== "")
      {
        formData.append("organization_type", this.csv["organization_type"]);
        this.callAjax(formData)
      }
      else if(this.csv["project"] !== "")
      {
        formData.append("project", this.csv["project"]);
        this.callAjax(formData)
      }
      else if(this.csv["project_performance"] !== "")
      {
        formData.append("project_performance", this.csv["project_performance"]);
        this.callAjax(formData)
      }
      else if(this.csv["project_status"] !== "")
      {
        formData.append("project_status", this.csv["project_status"]);
        this.callAjax(formData)
      }
      else if(this.csv["users"] !== "")
      {
        formData.append("users", this.csv["users"]);
        this.callAjax(formData)
      }
      else if(this.csv["user_roles"] !== "")
      {
        formData.append("user_roles", this.csv["user_roles"]);
        this.callAjax(formData)
      }
    },
    callAjax(formData){
      axios.post(this.$config_url + "/auth/import", formData, {
        headers: { "content-type": "multipart/form-data" }
        })
        .then(response => {
          if (response.status === 200) {
            this.csv["asset_class"] = "";
            this.csv["financials"] = "";
            alert(response.data.message);
          }
        })
        .catch(error => {
          alert(error);
        });
    }
  },
};
</script>

<style scoped>
.m15 {
  margin: 15px;
}
.float-right{
    float:right;
}
</style>

