<template>
  <div class="login-box">
    <div class="login-box-body">
      <p class="login-box-msg">
        <h3>Login</h3>
      </p>
      <fieldset>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input
              type="text"
              name="email"
              placeholder="email"
              class="form-control"
              autofocus="true"
              required="true"
              v-model="email"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input
              type="password"
              name="password"
              placeholder="password"
              class="form-control"
              required="true"
              v-model="password"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <button
              type="button"
              class="btn btn-primary btn-block btn-flat"
              @click.prevent="login"
            >
              <i class="fa fa-sign-in"></i> Login
            </button>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</template>

<script type="text/javascript">
import Axios from "axios";
import Vue from "vue";

Vue.use(Axios);
window.axios = Axios;

export default {
  methods: {
    login() {
      axios
        .post(this.$config_url + "/auth/login", {
          email: this.email,
          password: this.password
        })
        .then(response => {
          var data = response.data;
          localStorage.setItem("userinfo", JSON.stringify(data));
          this.$router.push("/home");
          location.reload();
        })
        .catch(error => {
          alert(error);
          console.log(error);
        });
    }
  },
  data() {
    return {
      email: "",
      password: ""
    };
  }
};
</script>
<style>
    .login-box{
        width:50%;
        margin:0 auto;
    }
</style>