//


//
// Topbar
//
.dropdown-menu {
  background-color: white !important;
  border: 2px !important;
  border-style:outset !important;
}
.topbar {
	display: flex;
	align-items: stretch;
	padding: 0;

	// Topbar Item
	.topbar-item {
		display: flex;
		align-items: center;
	}

	// Topbar Dropdown
	.dropdown {
		display: flex;
		align-items: stretch;
	}
}

// Tablet & Mobile Modes
@include media-breakpoint-down(md) {
	.topbar {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		transition: all 0.3s ease;
		justify-content: flex-end;
		padding: 0 get($page-padding, tablet-and-mobile);
		height: 50px;
		background-color:  #ffffff;
		box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 0.1);
		border-top: 1px solid transparent;

		// Fixed Mobile Header
		.header-mobile-fixed & {
			position: fixed;
			z-index:  97 - 1;
		}

		// Topbar Shown Mode
		.topbar-mobile-on & {
			z-index: 2;
			transition: all 0.3s ease;
			border-top: 1px solid #EBEDF3;
			margin-top: 65px;
		}

		// Fixed Mobile Header & Topbar Shown Modes
		.topbar-mobile-on.header-mobile-fixed & {
			z-index: 97 - 1;
			margin-top: 50px;
		}
	}
}

// Mobile View
@include media-breakpoint-down(xs) {
	.topbar {
		.topbar-item {
			.btn.btn-icon {
				height:  35px;
   				width:  35px;
			}
		}
	}
}





// Custom button variation
//


@mixin button-custom-variant(
    $background, $border, $color, $icon, $box-shadow,
    $hover-background, $hover-border, $hover-color, $hover-icon, $hover-box-shadow,
    $active-background, $active-border, $active-color, $active-icon, $active-box-shadow) {

    // Initial state
    @if ($color != null) {
        color: $color;
    }

    @if ($icon != null) {
        i {
    		color: $icon;
    	}

    	.svg-icon {
    		@include svg-icon-color($icon);
    	}

        &.dropdown-toggle:after {
            color: $icon;
        }
    }

    @if ($background != null) {
        background-color: $background;
    }

    @if ($border != null) {
        border-color: $border;
    }

    // Hover & focus state
    @if ($hover-color != null or $hover-border != null or $hover-icon != null or $hover-background != null) {
        &:hover:not(.btn-text):not(:disabled):not(.disabled),
        &:focus:not(.btn-text),
        &.focus:not(.btn-text) {
            @if ($hover-color != null) {
                color: $hover-color;
            }

            @if ($hover-icon != null) {
                i {
            		color: $hover-icon;
            	}

            	.svg-icon {
            		@include svg-icon-color($hover-icon);
            	}

                &.dropdown-toggle:after {
                    color: $hover-icon;
                }
            }

            @if ($hover-background != null) {
                background-color: $hover-background;
            }

            @if ($hover-border != null) {
                border-color: $hover-border;
            }
        }
    }

    // Disabled state
    @if ($color != null or $icon != null or $border != null or $background != null) {
        // Disabled comes first so active can properly restyle
        &.disabled,
        &:disabled {
            @if ($color != null) {
                color: $color;
            }

            @if ($icon != null) {
                i {
            		color: $icon;
            	}

            	.svg-icon {
            		@include svg-icon-color($icon);
            	}

                &.dropdown-toggle:after {
                    color: $icon;
                }
            }

            @if ($background != null) {
                background-color: $background;
            }

            @if ($border != null) {
                border-color: $border;
            }
        }
    }

    // Active state
    @if ($active-color != null or $active-icon != null or $active-border != null or $active-background != null) {
        &:not(:disabled):not(.disabled):active:not(.btn-text),
        &:not(:disabled):not(.disabled).active,
        .show > &.dropdown-toggle,
        .show &.btn-dropdown {
            @if ($active-color != null) {
                color: $active-color;
            }

            @if ($active-icon != null) {
                i {
            		color: $active-icon;
            	}

            	.svg-icon {
            		@include svg-icon-color($active-icon);
            	}

                &.dropdown-toggle:after {
                    color: $active-icon;
                }
            }

            @if ($active-background != null) {
                background-color: $active-background;
            }

            @if ($active-border != null) {
                border-color: $active-border;
            }
            outline: 0 !important;
            box-shadow: none  !important;

            // Focus state
            &:focus {
            outline: 0 !important;
            box-shadow: none  !important;
            }
        }
    }

    // Box shadow
    @if ($box-shadow != null) {
        box-shadow: $box-shadow;
    }

    @if ($hover-box-shadow != null) {
        &:hover:not(.btn-text):not(:disabled):not(.disabled),
        &:focus:not(.btn-text),
        &.focus:not(.btn-text) {
            box-shadow: $hover-box-shadow;
        }
    }

    @if ($active-box-shadow != null) {
        &:not(:disabled):not(.disabled):active:not(.btn-text),
        &:not(:disabled):not(.disabled).active,
        .show > &.dropdown-toggle {
            box-shadow: $active-box-shadow;
        }
    }
}


@mixin button-custom-transition($transition) {
    // Initial state
    transition: $transition;

    i {
        transition: $transition;
    }

    // Hover & focus state
    &:hover:not(.btn-text),
    &:focus:not(.btn-text),
    &.focus {
        transition: $transition;

        i {
            transition: $transition;
        }
    }

    // Disabled state
    &.disabled,
    &:disabled {
        transition: $transition;

        i {
            transition: $transition;
        }
    }

    // Active state
    &:not(:disabled):not(.disabled):active:not(.btn-text),
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
        transition: $transition;

        i {
            transition: $transition;
        }
    }
}


//input
@mixin input-reset() {
	border: 0;
	background-color: transparent;
	outline: none !important;
	box-shadow: none;
}
.quick-search {
	// Form
	.quick-search-form {
		padding: 0;

		.input-group {
			background-color: transparent;
		}

		.input-group-prepend,
		.input-group-append {
			background-color: transparent;

			.input-group-text {
				background-color: transparent;
				border: 0;
			}
		}

		.input-group-append {
			padding: 0;
			justify-content: center;
			align-items: center;
		}

		.form-control {
			@include input-reset();
		    background-color: transparent;
		    padding-left: 0;
			padding-right: 0;
			border-top: 0;
			border-left: 0;
			border-right: 0;
			padding: 0;
			border-radius: 0;
		}

		.quick-search-close {
			cursor: pointer;
			display: none;
		}
	}

	// Wrapper
	.quick-search-wrapper {
		display: none;

		// Scroll
		&.ps {
			padding-right: 10px !important;
			margin-right: -10px !important;
		}
	}

	// Result
	.quick-search-result {
		padding: 0;
		margin: 0;
	}

	// Show results
	&.quick-search-has-result {
		.quick-search-wrapper {
			display: block;
		}
	}

	// Dropdown mode
	&.quick-search-dropdown {
		padding: 1rem 1.5rem;

		// Form
		.quick-search-form {
			.input-group {
				&:before {
					right: 0;
				}

				.input-group-prepend {
					.input-group-text {
						padding-left: 0;
					}
				}

				.input-group-append {
					.input-group-text {
						padding-right: 0;
					}
				}
			}
		}

		// Wrapper
		.quick-search-wrapper  {
			margin: 1.5rem 0 0.5rem 0;
		}

		// Show results
		&.quick-search-has-result {
			.quick-search-form {
				border-bottom: 1px solid $gray-200;
				padding-bottom: 0.75rem;
			}
		}
	}


	// Inline mode
	&.quick-search-inline {
		// Dropdown menu
		.dropdown-menu {
      padding: 1.5rem;
      background-color: white;
		}
	}

	// Offcanvas mode
	&.quick-search-offcanvas {
		// Form
		.quick-search-form {
			margin-bottom: 1.5rem;

			.form-control {
				font-size: 1rem;
				font-weight: 500;
			}

			.input-group {
				&:before {
					right: 0;
				}

				.input-group-prepend {
					.input-group-text {
						padding-left: 0;
					}
				}

				.input-group-append {
					.input-group-text {
						padding-right: 0;
					}
				}
			}
		}

		// Wrapper
		.quick-search-wrapper {
			display: block;
		}
	}
}

.k-chart {
  border-width: 0;
}


.b-sidebar > .b-sidebar-body {
  flex-grow: 1;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

// Ng
kendo-tabstrip {
  position: relative;
  display: block;
}


//tooltip
.k-widget.k-tooltip
{
  background:rgb(232, 243, 255);
}



// App
#app {
  display: flex; flex-direction: row;
	background-color : #f8f9fa;
  > .row {
    min-height: 100vh;
    align-items: stretch;
    justify-content: space-evenly;
  }
}




// Nav
#nav {
  padding-left: $grid-gutter-width * 1.5;
  padding-right: $grid-gutter-width * 1.5;
  width: 400px;
  box-sizing: border-box;
  flex-basis: auto;
  flex-grow: 0;
  position: relative;
  z-index: 2;
  transform: translateX(0);

  #app-title { position: relative; }
  #app-title::after {
    content: "";
    width: $spacer * 1.5;
    border-bottom: 2px solid $brand-primary;
    position: absolute;
    left: 0;
    top: $font-size-h1 + $font-size-h2 + ( $spacer * 1.5 );
  }


  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 3px;
    border-color:#ffaa00;
  }
  .h4 {
    font-size: $font-size-xs;
    font-weight: 400;
    text-transform: uppercase;
    opacity: .3;
  }

  .nav-pills {
  
  }
  .nav-pills .nav-link {

  }
  .nav-pills .nav-link:not(.active) {
    color: inherit;
  }
  .navbar-nav li a{
    color: white !important;
    }
    nav-link.active
    {
      color:  #1ca8dd !important;
    }

}
#app-title {
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}
#app-subtitle {
  margin: 0;
  font-size: $font-size-xs;
  font-weight: 100;
  text-transform: uppercase;
  opacity: .75;
}
#copy {
  color: #9195a2;
  font-size: $font-size-sm;
  position: relative;
}
#copy::after {
  content: "";
  width: $spacer * 1.5;
  border-top: 2px solid;
  position: absolute;
  left: 0;
  top: -( $spacer * 1.5 );
}

.top-bar {
  padding: .25em;
  font-size: 32px;
  line-height: 1;

  &:before { content: "."; display: block; }
}
.nav-toggle {
  padding: .25em;
  background: inherit;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 100%;
  cursor: pointer;
}



@media (max-width: map-get($grid-breakpoints, md) ) {
  #nav {
    width: 320px;
    max-width: none;
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 $spacer $spacer rgba( $brand-inverse, .5 );
  }

  #nav.expand {
    transform: translateX(0);
  }
}




// Main
main {
  overflow: auto;
  position: relative;
  z-index: 1;
  width: 100%; height: 100vh;


  // Cards
  .card { 
    margin:15px 15px 15px 15px;
    padding: 5px 5px 5px 5px ;
    justify-content: center;
    width: 20% ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    text-align: center;
    
  }

  .tile { 
    margin:15px 15px 15px 15px;
    padding: 5px 5px 5px 5px ;
    justify-content: center;
    width: -webkit-fill-available;
    height:150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .tile-icon{

    box-shadow: none;
    background-color: inherit;
    width: auto;
    margin:15px 0px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:150px;
    padding: 5px 5px 0px 20px ;
  }

  .small-tile { 
    margin:15px 15px 15px 15px;
    padding: 5px 5px 5px 5px ;
    justify-content: center;
    width: -webkit-fill-available;
    height:150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


  .card .card-header  {}
} 


.government
{
  .card { 
    margin:15px 15px 15px 15px;
    padding: 5px 5px 5px 5px ;
    justify-content: center;
    width:100% ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    text-align: center;
    .dashboard-card
    {
      width:100% !important;
    }
    .dashboard-card-fixed
    {
      height:1200px;
    }
  }
  .container-fluid
  {
    padding-left:5px !important;
  }

  .issuance-view
  {
    height: 80vh;
    overflow: auto;
  }
  

  .k-label
{
  font-weight:bold
}

.issuance-textbox {
  width: 80%;
}

.issuance-container {
  padding-top: 8px;
  padding-bottom: 8px;
}

.issuance-textbox :hover {
  cursor: pointer;
  background-color: #cecdcd;
  
}
}

// Dashboard
.dashboard {
  display: block;


  .card {
    margin-top: $spacer * 1.5;
  }
  .card-block {
    position: relative;
  }


  .k-tabstrip {
    background: none;
  }
  .k-tabstrip .k-tabstrip-items {
    position: absolute;
    top: calc( 1.75em + 2px );
    right: 0;
    z-index: 2;
  }
  .k-tabstrip .k-content {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    overflow: hidden;
  }


  .comp-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;

    strong {
      font-size: 2em;
      line-height: 1;
      font-weight: 100;
      display: block;
      color: #1CA8DD;
      padding-top: 20px;
    }
    small {
      font-size: 1.1em;
      text-transform: uppercase;
      display: block;
      font-family: $font-family-sans-serif;
      color: grey;
    }
  }
  a {
    -webkit-user-select: none;
    cursor: pointer;
  }


  .active-issues {
    display: flex;
    align-items: center;
  }
  .closed-issues {}
  .open-issues {}
  .close-rate {
    .k-chart {
      padding-top: 6px;
    }
  }

  .issue-types {
    overflow: hidden;
  }
  .issue-types .card-block {
    max-width: 100%;
    margin: auto;
  }
  .issue-types .chart-label {
    margin: -1em 0 0;
    white-space: nowrap;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.home
{
  display: block;


}

.header-color
{
  color:rgb(203 139 15 / 70%);
}







