<template>
  <div class="login-box">
    <div class="login-box-body">
      <p class="login-box-msg">
        <h3>Profile Settings</h3>
      </p>
      <fieldset>
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              name="name"
              placeholder="Name"
              class="form-control"
              autofocus="true"
              required="true"
              v-model="name"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              name="email"
              placeholder="email"
              class="form-control"
              autofocus="true"
              required="true"
              v-model="email"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <select 
              class="form-control"
              v-model="userrole"
              name="userrole">
              <option value="">Please Select Role</option>
              <option value="1">Super Admin</option>
              <option value="2">Government</option>
              <option value="3">Investor</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input
              type="password"
              name="password"
              placeholder="password"
              class="form-control"
              required="true"
              v-model="password"
            />
          </div>
        </div>
        <div class="form-group w__100">
          <div class="col-xs-12">
            <button
              type="button"
              class="btn btn-primary btn-block btn-flat"
              @click.prevent="updateUser(userid)"
            >Update
            </button>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</template>

<script type="text/javascript">
import Axios from "axios";
import Vue from "vue";

Vue.use(Axios);
window.axios = Axios;

export default {
  data() {
    return {
      name:"",
      email: "",
      password: "",
      userrole: "",
      users:[],
      userid: 0
    };
  },
  mounted: function () {
    this.getUsers();
    var authuser = this.$loggedUserInfo.user;
    this.name = authuser.name;
    this.email = authuser.email;
    this.userrole = authuser.user_role_id;
    this.userid = authuser.id;
  },
  methods: {
    getUsers() {
      const vm = this;
      axios
        .get(this.$config_url + "/auth/users")
        .then(function (response) {
          vm.users = response.data.users;
        }
      )
    },
    updateUser(user) {
      const that = this;
      axios
        .post(this.$config_url + "/auth/update-user/" + user, {
          name: this.name,
          email: this.email,
          password: this.password,
          userrole: this.userrole
        })
        .then(function (response) {
          alert(response.data.message);
          var data = response.data;
          location.reload();
        })
        .catch(error => {
          alert(error);
        });
    },
  }
};
</script>
<style>
  .login-box{
    width:50%;
    margin:0 auto;
  }
  .w__100{
    width:100px;
  }
  .ml10{
    margin-left:10px;
  }
  .margin-auto{
    margin-left:10px;
  }
</style>
