<template>
  <div class="login-box">
    <div class="login-box-body" v-show="adduser">
      <p class="login-box-msg">
        <h3>Add New User</h3>
      </p>
      <fieldset>
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              name="name"
              placeholder="Name"
              class="form-control"
              autofocus="true"
              required="true"
              v-model="name"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              name="email"
              placeholder="email"
              class="form-control"
              autofocus="true"
              required="true"
              v-model="email"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <select 
              class="form-control"
              v-model="userrole"
              name="userrole">
              <option value="">Please Select Role</option>
              <option value="1">Super Admin</option>
              <option value="2">Government</option>
              <option value="3">Investor</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input
              type="password"
              name="password"
              placeholder="password"
              class="form-control"
              required="true"
              v-model="password"
            />
          </div>
        </div>
        <div class="form-group w__100">
          <div class="col-xs-12">
            <button
              type="button"
              class="btn btn-primary btn-block btn-flat"
              @click.prevent="save"
            >
              <i class="fa fa-sign-in"></i> Create
            </button>
          </div>
        </div>
      </fieldset>
    </div>
     <div class="login-box-body" v-show="edituser">
      <p class="login-box-msg">
        <h3>Edit User</h3>
      </p>
      <fieldset>
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              name="name"
              placeholder="Name"
              class="form-control"
              autofocus="true"
              required="true"
              v-model="name"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              name="email"
              placeholder="email"
              class="form-control"
              autofocus="true"
              required="true"
              v-model="email"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <select 
              class="form-control"
              v-model="userrole"
              name="userrole">
              <option value="">Please Select Role</option>
              <option value="1">Super Admin</option>
              <option value="2">Government</option>
              <option value="3">Investor</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input
              type="password"
              name="password"
              placeholder="password"
              class="form-control"
              required="true"
              v-model="password"
            />
          </div>
        </div>
        <div class="form-group w__100">
          <div class="col-xs-12">
            <button
              type="button"
              class="btn btn-primary btn-block btn-flat"
              @click.prevent="updateUser(userid)"
            >Update
            </button>
          </div>
        </div>
      </fieldset>
    </div>
    <hr>
    <p class="login-box-msg">
      <h3>Users</h3>
    </p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user, index) in users" v-bind:key="index">
          <td>{{index = index + 1}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td v-if="user.user_role_id == 1">Super Admin</td>
          <td v-else-if="user.user_role_id == 2">Government</td>
          <td v-else-if="user.user_role_id == 3">Investor</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              @click.prevent="editUser(user)"
            >
              <i class="fa fa-sign-in"></i> Edit
            </button>
            <button
              type="button"
              class="btn btn-danger margin-auto"
              @click.prevent="deleteUser(user)"
            >
              <i class="fa fa-sign-in"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script type="text/javascript">
import Axios from "axios";
import Vue from "vue";

Vue.use(Axios);
window.axios = Axios;

export default {
  data() {
    return {
      name:"",
      email: "",
      password: "",
      userrole: "",
      users:[],
      adduser: true,
      edituser: false,
      userid: 0
    };
  },
  mounted: function () {
    this.getUsers();
  },
  methods: {
    save() {
      axios
        .post(this.$config_url + "/auth/signup", {
          name: this.name,
          email: this.email,
          password: this.password,
          userrole: this.userrole
        })
        .then(response => {
          alert(response.data.message);
          this.$router.push("/");
        })
        .catch(error => {
          alert(error);
          console.log(error);
        });
    },
    getUsers() {
      const vm = this;
      axios
        .get(this.$config_url + "/auth/users")
        .then(function (response) {
          vm.users = response.data.users;
          console.log("1" + vm.users);
        }
      )
    },
    editUser(user) {
      const that = this;
      this.adduser = false;
      this.edituser = true;
      this.userid = user.id;
      axios.get(this.$config_url + "/auth/edit-user/" + user.id)
        .then(function (response) {
          var data = response.data.user;
          that.name = data.name;
          that.email = data.email;
          that.userrole = data.user_role_id;
        })
        .catch(error => {
          alert(error);
        });
    },
    updateUser(user) {
      const that = this;
      axios
        .post(this.$config_url + "/auth/update-user/" + user, {
          name: this.name,
          email: this.email,
          password: this.password,
          userrole: this.userrole
        })
        .then(function (response) {
          alert(response.data.message);
          that.getUsers();
        })
        .catch(error => {
          alert(error);
        });
    },
    deleteUser(user) {
      if(confirm("Do you really want to delete?"))
      {
        axios.post(this.$config_url + "/auth/delete-user/"+ user.id)
        .then(res => {
            console.log("deleted");
            this.getUsers();
        })
        .catch(error => {
            alert(error);
        })
      }
    },
  }
};
</script>
<style>
  .login-box{
    width:50%;
    margin:0 auto;
  }
  .w__100{
    width:100px;
  }
  .ml10{
    margin-left:10px;
  }
  .margin-auto{
    margin-left:10px;
  }
</style>
