<template>
  <div class="login-box">
    <div class="login-box-body">
      <p class="login-box-msg">
        <h3>Add New Role</h3>
      </p>
      <fieldset>
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              name="name"
              placeholder="Name"
              class="form-control"
              autofocus="true"
              required="true"
              v-model="name"
            />
          </div>
        </div>
        <div class="form-group w__100">
          <div class="col-xs-12">
            <button
              type="button"
              class="btn btn-primary btn-block btn-flat"
              @click.prevent="save"
            >
              <i class="fa fa-sign-in"></i> Create
            </button>
          </div>
        </div>
      </fieldset>
    </div>
    <hr>
    <p class="login-box-msg">
      <h3>User Roles</h3>
    </p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user, index) in users" v-bind:key="index">
          <td>{{index = index + 1}}</td>
          <td>{{user.name}}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              @click.prevent="editUserRole(user)"
            >
              <i class="fa fa-sign-in"></i> Edit
            </button>
            <button
              type="button"
              class="btn btn-danger ml10"
              @click.prevent="deleteUserRole(user)"
            >
              <i class="fa fa-sign-in"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script type="text/javascript">
import Axios from "axios";
import Vue from "vue";

Vue.use(Axios);
window.axios = Axios;

export default {
  data() {
    return {
      name:"",
      userroles:[]
    };
  },
  mounted: function () {
    this.getUserRoles();
  },
  methods: {
    save() {
      axios
        .post(this.$config_url + "/auth/signup", {
          name: this.name,
          email: this.email,
          password: this.password,
          userrole: this.userrole
        })
        .then(response => {
          alert(response.data.message);
          this.$router.push("/");
        })
        .catch(error => {
          alert(error);
          console.log(error);
        });
    },
    getUserRoles() {
      const vm = this;
      axios
        .get(this.$config_url + "/auth/users")
        .then(function (response) {
          vm.userroles = response.data.users;
          console.log("1" + vm.users);
        }
      )
    },
    editUserRole(user) {
      const vm = this;
      axios
        .post(this.$config_url + "/auth/users")
        .then(function (response) {
          vm.users = response.data.users;
        }
      )
    },
    deleteUserRole(user) {
      if(confirm("Do you really want to delete?"))
      {
        axios.post(this.$config_url + "/auth/delete-user/"+ user.id)
        .then(res => {
            console.log("deleted");
            this.getUserRoles();
        })
        .catch(error => {
            alert(error);
        })
      }
    },
  }
};
</script>
<style>
    .login-box{
        width:50%;
        margin:0 auto;
    }
    .w__100{
      width:100px;
    }
    .ml10{
      margin-left:10px;
    }
</style>
